.main {
  display: flex;
}

.calendar_table {
  display: grid;

  grid-template-columns: repeat(7, 1fr);
}

.calendar_cell {
  width: 100px;
  height: 40px;
}

.current_date {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: red;
  color: white;
  border-radius: 100%;
}

.monday {
  grid-column-start: 1;
  grid-column-end: 2;
}

.tuesday {
  grid-column-start: 2;
  grid-column-end: 3;
}

.wednesday {
  grid-column-start: 3;
  grid-column-end: 4;
}

.thursday {
  grid-column-start: 4;
  grid-column-end: 5;
}

.friday {
  grid-column-start: 5;
  grid-column-end: 6;
}

.saturday {
  grid-column-start: 6;
  grid-column-end: 7;
}

.sunday {
  grid-column-start: 7;
  grid-column-end: 8;
}